.tabs{

display:flex;

gap:10px;

margin-bottom:20px;

}

.tab{

flex:1;

background:white;

border:2px solid black;

padding:12px;

font-family:'Gothic A1';

font-weight:700;

cursor:pointer;
}

.tab.active{

background:#2b16d1;

color:white;
}

.tab-content{

display:none;
}

.tab-content.active{

display:block;
}
